#products_box {
	width: 780px;
	text-align:center;
	margin-left:30px;
	margin-bottom:10px;
}

#single_product{
	float:left;
	margin-left:30px;
	padding:10px;
}

#single_product{
	border:2px solid #ffffff;
}